* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-auto-rows: minmax(310px, auto);
  background-color: darkgray;
  min-height: 100vh;
  gap: 10px;
}

.item {
  border: 2px solid black;
  background-color: white;
  padding: 10px;
  font-size: 30px;
  padding: 10px;
}
