.btn {
  padding: 15px 10px;
  border-radius: 25px;
  width: 125px;
  display: block;
  margin-bottom: 10px;
  cursor: pointer;

  &.btn-red {
    background-color: red;
    color: white;
  }

  &.btn-blue {
    background-color: blue;
    color: white;
  }
}

.btn-green {
  @extend .btn;
  background-color: green;
  color: white;
}
